@model IEnumerable<Web_61131562.Models.EF.DanhMuc>
@if (Model != null && Model.Any())
{
<ul class="navbar_menu">
    @foreach (var item in Model)
    {
        if (item.Alias.Equals("trang-chu"))
        {
            item.Alias = "";
        }
        if (!string.IsNullOrEmpty(item.LienKet))
        {
            item.Alias = item.LienKet;
        }
        <li><a href="/@item.Alias">@item.TenDM</a></li>
    }

    @*<li><a href="#">shop</a></li>
    <li><a href="#">promotion</a></li>
    <li><a href="#">pages</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="contact.html">contact</a></li>*@
</ul>
}
