@model IEnumerable<Web_61131562.Models.EF.LoaiMH>
@if (Model != null && Model.Any())
{
<ul class="sidebar_categories">
    @foreach (var item in Model)
    {
        if (ViewBag.CateId == item.MaLMH)
        {
            <li class="active"><a href="/danh-muc-mat-hang/@item.Alias-@(item.MaLMH)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.TenLMH</a></li>
        }
        else
        {
            <li><a href="/danh-muc-mat-hang/@item.Alias-@(item.MaLMH)">@item.TenLMH</a></li>
        }
    }
    @*<li><a href="#">Men</a></li>
        <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Women</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Collection</a></li>
        <li><a href="#">Shop</a></li>*@
</ul>
}
