 <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/clients/dist/img/logo.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Phan Nguyễn Đình Vũ</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    @*<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/danhmuc" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Danh Mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>
                @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="~/Content/clients/index.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Content/clients/index2.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v2</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Content/clients/index3.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v3</p>
                    </a>
                </li>
            </ul>*@
            </li>
            <li class="nav-item">
                <a href="/admin/role" class="nav-link">
                    <i class="nav-icon fas fa-user-tag"></i>
                    <p>
                        Quyền
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/tintuc" class="nav-link">
                    <i class="nav-icon fas fa-file"></i>
                    <p>
                        Tin Tức
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/gioithieu" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Giới Thiệu
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/donhang" class="nav-link">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                        Đơn Hàng
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/qc" class="nav-link">
                    <i class="nav-icon far fa-plus-square"></i>
                    <p>
                        Quảng Cáo
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản Lý Mặt Hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/loaimh" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Loại Mặt Hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/mathang" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Mặt Hàng</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/caidathethong" class="nav-link">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Cấu Hình Hệ Thống
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/account" class="nav-link">
                    <i class="nav-icon fas fa-user-circle"></i>
                    <p>
                        Tài Khoản
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    <i class="nav-icon fas fa-door-open"></i>
                    <p>
                        Đăng Xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
@if (Request.IsAuthenticated) {
<div style="display:none">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
    {
        @Html.AntiForgeryToken()

    }
</div>
}