USE [master]
GO
/****** Object:  Database [DB_61131562]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE DATABASE [DB_61131562]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_61131562', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.P3RC1V4L\MSSQL\DATA\DB_61131562.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_61131562_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.P3RC1V4L\MSSQL\DATA\DB_61131562_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_61131562].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_61131562]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_AnhMH]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_AnhMH](
	[MaAMH] [int] IDENTITY(1,1) NOT NULL,
	[MaMH] [int] NOT NULL,
	[Anh] [nvarchar](max) NULL,
	[MacDinh] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tb_AnhMH] PRIMARY KEY CLUSTERED 
(
	[MaAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CaiDatHeThong]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CaiDatHeThong](
	[CaiDatKhoa] [nvarchar](50) NOT NULL,
	[CaiDatGiaTri] [nvarchar](4000) NULL,
	[CaiDatMoTa] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.tb_CaiDatHeThong] PRIMARY KEY CLUSTERED 
(
	[CaiDatKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CTDH]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CTDH](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDG] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_CTDH] PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DangKy]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DangKy](
	[MaDK] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tb_DangKy] PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DanhMuc]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SeoTieuDe] [nvarchar](150) NULL,
	[SeoMoTa] [nvarchar](250) NULL,
	[SeoTuKhoa] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[ViTri] [int] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[LienKet] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DonGia]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DonGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[TenKH] [nvarchar](max) NOT NULL,
	[SDT] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[LoaiThanhToan] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_DonGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_GioiThieu]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_GioiThieu](
	[MaGT] [int] IDENTITY(1,1) NOT NULL,
	[TieuDeGT] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[Anh] [nvarchar](250) NULL,
	[MaDM] [int] NOT NULL,
	[SeoTieuDe] [nvarchar](250) NULL,
	[SeoMoTa] [nvarchar](500) NULL,
	[SeoTuKhoa] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_GioiThieu] PRIMARY KEY CLUSTERED 
(
	[MaGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LienHe]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LienHe](
	[MaLH] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Website] [nvarchar](max) NULL,
	[TinNhan] [nvarchar](4000) NULL,
	[DaDoc] [bit] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_LienHe] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LoaiMH]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LoaiMH](
	[MaLMH] [int] IDENTITY(1,1) NOT NULL,
	[TenLMH] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Icon] [nvarchar](250) NULL,
	[SeoTieuDe] [nvarchar](250) NULL,
	[SeoMoTa] [nvarchar](500) NULL,
	[SeoTuKhoa] [nvarchar](250) NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_LoaiMH] PRIMARY KEY CLUSTERED 
(
	[MaLMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_MatHang]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_MatHang](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [nvarchar](250) NOT NULL,
	[Alias] [nvarchar](250) NULL,
	[CodeMatHang] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[Anh] [nvarchar](250) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiaKM] [decimal](18, 2) NULL,
	[SoLuong] [int] NOT NULL,
	[IsHome] [bit] NOT NULL,
	[IsMHSale] [bit] NOT NULL,
	[IsMHNoiBat] [bit] NOT NULL,
	[IsMHBanChay] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MaLMH] [int] NOT NULL,
	[SeoTieuDe] [nvarchar](250) NULL,
	[SeoMoTa] [nvarchar](500) NULL,
	[SeoTuKhoa] [nvarchar](250) NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[LuotXem] [int] NOT NULL,
	[GiaGoc] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.tb_MatHang] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_QuangCao]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_QuangCao](
	[MaQC] [int] IDENTITY(1,1) NOT NULL,
	[TieuDeQC] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Anh] [nvarchar](500) NULL,
	[LienKet] [nvarchar](500) NULL,
	[Loai] [int] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_QuangCao] PRIMARY KEY CLUSTERED 
(
	[MaQC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ThongKe]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ThongKe](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[SoTruyCap] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.tb_ThongKe] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TinTuc]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TinTuc](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TieuDeTT] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[Anh] [nvarchar](max) NULL,
	[MaDM] [int] NOT NULL,
	[SeoTieuDe] [nvarchar](max) NULL,
	[SeoMoTa] [nvarchar](max) NULL,
	[SeoTuKhoa] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_TinTuc] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaMH]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaMH] ON [dbo].[tb_AnhMH]
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDG]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDG] ON [dbo].[tb_CTDH]
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaMH]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaMH] ON [dbo].[tb_CTDH]
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDM]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDM] ON [dbo].[tb_GioiThieu]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaLMH]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaLMH] ON [dbo].[tb_MatHang]
(
	[MaLMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDM]    Script Date: 16/08/2025 6:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDM] ON [dbo].[tb_TinTuc]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_DonGia] ADD  DEFAULT ((0)) FOR [LoaiThanhToan]
GO
ALTER TABLE [dbo].[tb_MatHang] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[tb_MatHang] ADD  DEFAULT ((0)) FOR [GiaGoc]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tb_AnhMH]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_AnhMH_dbo.tb_MatHang_MaMH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[tb_MatHang] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_AnhMH] CHECK CONSTRAINT [FK_dbo.tb_AnhMH_dbo.tb_MatHang_MaMH]
GO
ALTER TABLE [dbo].[tb_CTDH]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_CTDH_dbo.tb_DonGia_MaDG] FOREIGN KEY([MaDG])
REFERENCES [dbo].[tb_DonGia] ([MaDG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_CTDH] CHECK CONSTRAINT [FK_dbo.tb_CTDH_dbo.tb_DonGia_MaDG]
GO
ALTER TABLE [dbo].[tb_CTDH]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_CTDH_dbo.tb_MatHang_MaMH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[tb_MatHang] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_CTDH] CHECK CONSTRAINT [FK_dbo.tb_CTDH_dbo.tb_MatHang_MaMH]
GO
ALTER TABLE [dbo].[tb_GioiThieu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_GioiThieu_dbo.tb_DanhMuc_MaDM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[tb_DanhMuc] ([MaDM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_GioiThieu] CHECK CONSTRAINT [FK_dbo.tb_GioiThieu_dbo.tb_DanhMuc_MaDM]
GO
ALTER TABLE [dbo].[tb_MatHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_MatHang_dbo.tb_LoaiMH_MaLMH] FOREIGN KEY([MaLMH])
REFERENCES [dbo].[tb_LoaiMH] ([MaLMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_MatHang] CHECK CONSTRAINT [FK_dbo.tb_MatHang_dbo.tb_LoaiMH_MaLMH]
GO
ALTER TABLE [dbo].[tb_TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_TinTuc_dbo.tb_DanhMuc_MaDM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[tb_DanhMuc] ([MaDM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_TinTuc] CHECK CONSTRAINT [FK_dbo.tb_TinTuc_dbo.tb_DanhMuc_MaDM]
GO
/****** Object:  StoredProcedure [dbo].[mh_ThongKe]    Script Date: 16/08/2025 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[mh_ThongKe]
as
BEGIN
	DECLARE @SoTruyCapGanNhat int
	DECLARE @Count int
	SELECT @Count=COUNT(*) FROM tb_ThongKe
	IF @Count IS NULL SET @Count=0
	IF @Count =0
		INSERT INTO tb_ThongKe (ThoiGian, SoTruyCap)
		Values(GETDATE(),1)
	ELSE
		BEGIN
			DECLARE @ThoiGianGanNhat datetime
			SELECT @SoTruyCapGanNhat = tk.SoTruyCap,@ThoiGianGanNhat=tk.ThoiGian FROM tb_ThongKe tk
			WHERE tk.maTK=(SELECT MAX(tk1.MaTK) FROM tb_ThongKe tk1)
			IF @SoTruyCapGanNhat IS NULL SET @SoTruyCapGanNhat=0
			IF @ThoiGianGanNhat IS NULL SET @ThoiGianGanNhat=GETDATE()
			--Nếu chuyển sang ngày mới chưa (sau 12h đêm)
			--Nếu chưa chuyển sang ngày mới thì update
			IF DAY(@ThoiGianGanNhat)=DAY(GETDATE())
				BEGIN
					UPDATE tb_ThongKe
					SET
					SoTruyCap=@SoTruyCapGanNhat+1,
					ThoiGian=GETDATE()
					WHERE MaTK=(SELECT MAX(tk1.MaTK) FROM tb_ThongKe tk1)
				END
			--Nếu đã sang ngày mới rồi thì chúng thêm 1 bản ghi mới
			ELSE
				INSERT INTO tb_ThongKe(ThoiGian,SoTruyCap)
				Values(GETDATE(),1)
		END
			--Thống kê Hom nay, Hom qua, Tuan nay, Tuan truoc, Thang nay, Thang truoc
		DECLARE @HomNay int
		SET @HomNay=DATEPART(DW,GETDATE());
		SELECT @SoTruyCapGanNhat=SoTruyCap,@ThoiGianGanNhat=ThoiGian FROM tb_ThongKe 
		WHERE MaTK=(SELECT MAX(MaTK) FROM tb_ThongKe)
			--Số truy cập ngày hôm qua
		DECLARE @TruyCapHomQua bigint
		SELECT @TruyCapHomQua=ISNULL(SoTruyCap,0) FROM tb_ThongKe
		WHERE CONVERT(nvarchar(20),ThoiGian,103)=CONVERT(nvarchar(20),GETDATE()-1,103)
		IF @TruyCapHomQua IS NULL SET @TruyCapHomQua=0

		--Truy Cập Đầu Tuần Này
		DECLARE @DauTuanNay datetime
		SET @DauTuanNay= DATEADD(wk, DATEDIFF(wk, 6, GetDate()), 6)
		-- Tính Ngày đầu của tuần trước Tính từ thời điểm 00:00:))
		DECLARE @NgayDauTuanTruoc datetime
		SET @NgayDauTuanTruoc = Cast(CONVERT(nvarchar(30),DATEADD(dd, -(@HomNay+6), GetDate()),101) AS datetime)
		-- Tính ngày cuối tuần trước tính đến 24h ngày cuối tuần 
		DECLARE @NgayCuoiTuanTruoc datetime
		SET @NgayCuoiTuanTruoc = Cast(CONVERT(nvarchar(30),DATEADD(dd, -@HomNay, GetDate()),101) +' 23:59:59' AS datetime)

		--Số truy cập tuần này
		DECLARE @TruyCapTuanNay bigint
		SELECT @TruyCapTuanNay=ISNULL(sum(SoTruyCap),0) FROM tb_ThongKe
		Where ThoiGian BETWEEN @DauTuanNay AND GETDATE()

		-- Tính Số truy cập tuần trước
		DECLARE @SoLanTruyCapTuanTruoc bigint
		SELECT @SoLanTruyCapTuanTruoc=isnull(sum(SoTruyCap),0)  FROM tb_ThongKe ttk 
		WHERE ttk.ThoiGian BETWEEN @NgayDauTuanTruoc AND @NgayCuoiTuanTruoc

		--Tính Số truy cập tháng này
		DECLARE @SoTruyCapThangNay bigint 
		SELECT @SoTruyCapThangNay=isnull(Sum(SoTruyCap),0)
			FROM tb_ThongKe ttk WHERE MONTH(ttk.ThoiGian)=MONTH(GETDATE())

		--Tính Số truy cập tháng trước
		DECLARE @SoTruyCapThangTruoc bigint 
		SELECT @SoTruyCapThangTruoc=isnull(Sum(SoTruyCap),0)
			FROM tb_ThongKe ttk WHERE MONTH(ttk.ThoiGian)=MONTH(GETDATE())-1

		-- Tính tổng số
		DECLARE @TongSo bigint
		SELECT  @TongSo=isnull(Sum(SoTruyCap),0) FROM tb_ThongKe ttk
		
		SELECT @SoTruyCapGanNhat AS HomNay, 
		@TruyCapHomQua AS HomQua,
		@TruyCapTuanNay AS TuanNay, 
		@SoLanTruyCapTuanTruoc AS TuanTruoc, 
		@SoTruyCapThangNay AS ThangNay, 
		@SoTruyCapThangTruoc AS ThangTruoc,
		@TongSo AS TatCa
END
GO
USE [master]
GO
